{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Retour plugin for Craft CMS 3.x
 *
 * Retour Dashboard index.twig
 *
 * @author    nystudio107
 * @copyright Copyright (c) 2018 nystudio107
 * @link      https://nystudio107.com/
 * @package   Retour
 * @since     3.0.0
 */
#}

{% requirePermission "retour:dashboard" %}

{% extends "retour/_layouts/retour-cp.twig" %}

{% import "_includes/forms" as forms %}
{% from "retour/_includes/macros.twig" import includeJsModule %}

{% block contextMenu %}
    {% include "retour/_includes/sites-menu.twig" %}
{% endblock %}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ url('retour/clearStats') }}" class="btn delete icon">{{ "Clear Stats"|t }}</a>
    </div>
{% endblock %}

{% block content %}
    <div id="cp-nav-content">
        <div class="field readable">
            {% if showWelcome %}
                <confetti>
                </confetti>
                <div class="readable" style="text-align:center; margin:0 auto; padding: 5% 10%;">
                    <img src="{{ baseAssetsUrl ~ '/img/Retour-icon.svg' }}"
                         width="30%" height="auto"/>
                    <h2>Thanks for using Retour!</h2>
                    <p>
                        This Dashboard will show you ...
                    </p>
                    <p>
                        Retour for Craft CMS 3 is ...
                    </p>
                    <p>
                        We hope you love it!
                    </p>
                </div>
            {% endif %}
            <div class="flex">
                <div class="flex-grow shadow">
                    <dashboard-chart title="Month" sub-title="404s by month" range="month">
                    </dashboard-chart>
                </div>
                <div class="flex-grow shadow">
                    <dashboard-chart title="Week" sub-title="404s by week" range="week">
                    </dashboard-chart>
                </div>
                <div class="flex-grow shadow">
                    <dashboard-chart title="Day" sub-title="404s by day" range="day">
                    </dashboard-chart>
                </div>
            </div>
            <dashboard-table>
            </dashboard-table>

        </div>
    </div>
    {# include our JavaScript modules #}
    {{ parent() }}
    {{ includeJsModule("dashboard") }}
{% endblock %}
